{% extends 'base.html.twig' %}

{% block title %}User Management{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>User Management</h1>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">User List</h5>
                    {# Add user management functionality here #}
                </div>
            </div>
            
            <a href="{{ path('app_super_admin_dashboard') }}" class="btn btn-secondary mt-3">
                Back to Dashboard
            </a>
        </div>
    </div>
</div>
{% endblock %} 